<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="02ShowPixote.css">
    <link rel="shortcut icon" href="../public/images/solFavicon.png" type="image/x-icon">
    <title>Pixote - Ticket music</title>
</head>
<body>
    <section class="sec">
        <!-- Cabeçalho -->
    <header>
        <a href="#" class="logo"><img src="../public/images/logo.png" alt="logo"></a>
        <div class="toggleMenu" onclick="menuToggle();"></div>
        <ul class="navigation">
            <li><a href="../paginaHome/index.html">Home</a></li>
            <li><a href="../paginaEvento/index.html">Eventos</a></li>
            <li><a href="../paginaLogin/login.html">Login</a></li>
            <li><a href="../paginaCadastro/index.html">Cadastro</a></li>
            <li><a href="../paginaCarrinho/carrinho.html">Carrinho</a></li>
            <li><a href="../paginaAjuda/faleConosco.html">Ajuda</a></li>   
        </ul>
    </header>
    </section>



  <!--CORPO DA PAGINA-->
  <main>    
    <!--BANNER BANDA -->
    <section class="show-page">
        
        <img src="../public/images/02ShowPixote.jpg" class="show-event" alt="Banner Pixote" />
               
    
    <!--INFORMAÇÕES DO EVENTO -->    
        <div class="info-conteiner">
        <h1>Pixote</h1><br/>
            <p>04 de março de 2024, 20h </p>
            <p>Arena Ticket Music - São Paulo, SP</p>
        </div>    
    
    <hr>   
    <!--DESCRIÇÃO DO EVENTO-->    
        <div class="descricao-conteiner">
            <h2>Descrição de evento </h2></br>
            <p>O Pixote, um dos maiores grupos de pagode da atualidade, vai se apresentar na arena Ticket music, com a turnê de lançamento do DVD “Fã de Carteirinha Sunset”.
               No repertório, estarão os grandes sucessos que marcaram a carreira da banda e os seus novos hits, como “Nem de Graça”, “Vai Errar de Novo” e “Saudade Arregaça”</p>
        </div>

        <br>

    <!--ARÉA DE INGRESSOS-->
    <div class="ingresso-conteiner">
    
        <!--LADO ESQUERDO-->    
        <div id="esquerda">
            <img src="../public/images/palco.png" alt="palco">
        </div>

        <!--LADO DIREITO-->    
        <div id='direita'>
            <div class="Plateia">
                <h1>Ingressos</h1>
                <br>
                <div class="plateia1">
                    <h2>Plateia 1 - Azul </h2>
                    <h3>Pista Premium </h3>  
                    <h2> R$ 200,00</h2>  
                    <br>
                    <button onclick="window.location.href='/frontEnd/paginaCarrinho/carrinho.html'"> Comprar ! </button>
                </div>
                <br>
                <hr>
                <br>
                <div class="plateia2">
                    <h2>Plateia 2 - Rosa </h2>
                    <h3>Pista comum </h3>  
                    <h2>R$ 100,00</h2>   
                    <br>
                    <button onclick="window.location.href='/frontEnd/paginaCarrinho/carrinho.html'"> Comprar ! </button>
                </div>

                <br>
                <hr>
                <br>

                <div class ='plateia-superior'>
                    <h2>Plateia Superior - Verde </h2>
                    <h3> Arquibancada </h3>  
                    <h2> R$ 40,00</h2>   
                    <br>
                    <button onclick="window.location.href='/frontEnd/paginaCarrinho/carrinho.html'"> Comprar ! </button>
                </div>

                <br>
                <br>
                <p>Em atendimento ao Decreto nº 60.488, de 27 de agosto de 2021, para acesso ao local do evento é obrigatório a apresentação do comprovante de vacinação contra COVID-19, com no mínimo as 2 (Duas) doses.
                   O comprovante pode ser físico ou digital (disponível nos aplicativos Conecte SUS, Poupatempo Digital e E-saudeSP).
                   Todas as demais exigências do protocolo vigente serão rigorosamente atendidas.</p>  
            </div>
        </div>
    </div>


</main>
<footer>
       
    <div class="container-footer-all">
     
         <div class="container-body">

             <div class="colum1">
                 <h1>Mais Informações</h1>

                 <p>Todos os preços e condições comerciais estão sujeitos a alteração comercial sem prévio aviso. <br>
                    Tickect music Eventos Culturais Ltda - CNPJ 10.000.000/0001-00
                    Rua Fernão Dias , 130 - Cj 5 - CEP: 00110-030 - São Paulo - SP.</p>

             </div>

             <div class="colum2">

                 <h1>Redes Sociais</h1>

                 <div class="row">
                     <img src="../public/images/facebook.png">
                     <label>Nos Siga no Facebook</label>
                 </div>
                 <div class="row">
                     <img src="../public/images/twitter.png">
                     <label>Nos Siga no Twitter</label>
                 </div>
                 <div class="row">
                     <img src="../public/images/insta.png">
                     <label>Nos Siga no Instagram</label>
                 </div>


             </div>

             <div class="colum3">

                 <h1>Contatos</h1>
                 <br> 
                 <p><b>E-mail:</b> faleConosco@ticketmusic.com.br</p>
                 <br>
                 <p><b>Canal de atendimento</b> : 0800 101 55 321 </p>
             </div>

         </div>
     
     </div>
     
     <div class="container-footer">
            <div class="footer">
                 <div class="copyright">
                     © 2021 Ticket Music - Todos os Direitos Reservados
                 </div>

                 <div class="information">
                     <a href="">Informações Da Compania</a> | <a href="">Privacidades e Politicas</a> | <a href="">Termos e Condições</a>
                 </div>
             </div>

         </div>
     
 </footer>
    
</body>
</html>