<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<<<<<<< HEAD
  <link rel="stylesheet" href="/backEnd/public/stylesheets/home.css" />
  <link rel="shortcut icon" href="/backEnd/public/images/favicon.png" type="image/x-icon" />
=======
  <link rel="stylesheet" href="../public/stylesheets/home.css" />
  <link rel="shortcut icon" href="/public/images/solFavicon.png" type="image/x-icon" />
>>>>>>> 4517ada2d852ee5bf40f0a89af8e77fd16a64e53
  <title>Ticket Music</title>
</head>

<body>
 <div> 
  <section class="sec">
    <!-- Cabeçalho -->
    <header>
      <a href="http://localhost:3000/Home/" class="logo"><img src="/backEnd/public/images/logo.png"
          alt='À esquerda há uma clave de Sol, que é um símbolo musical, e à direita dela está escrito "Ticket Music"'></a>
      <div class="toggleMenu" onclick="menuToggle();"></div>
      <ul class="navigation">
        <li><a href="http://localhost:3000/Home/">Home</a></li>
        <li><a href="http://localhost:3000/login/">Login</a></li>
        <li><a href="http://localhost:3000/carrinho/">Carrinho</a></li>
        <li><a href="http://localhost:3000/ajuda/">Ajuda</a></li>
      </ul>
    </header>

    <!-- Texto De A presentação -->
    <div class="content">
      <div class="textBx">
        <h2>Venha curtir sua vibe <span>Ticket Music</span></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima rem
          et repellendus eligendi repellat expedita nobis quis aut nemo dicta
          explicabo, iste reiciendis, quo placeat recusandae voluptatum? A,
          possimus facilis.
        </p>
        <br />
        <a href="#">Leia Mais...</a>
      </div>
    </div>

    <!-- Imagem da Nota -->
    <img src="/backEnd/public/images/novaNota.png" class="nota" />
  </section>

  <!-- Script dos botoes de menu quando site fica menor -->
  <script type="text/javascript">
    function menuToggle() {
      const toggleMenu = document.querySelector('.toggleMenu')
      const navigation = document.querySelector('.navigation')
      toggleMenu.classList.toggle('active')
      navigation.classList.toggle('active')
    }
  </script>

  <footer>
    <div class="container-footer-all">
      <div class="container-body">
        <div class="colum1">
          <h1>Mais Informações</h1>

          <p class="informacao">
            Todos os preços e condições comerciais estão sujeitos a alteração
            comercial sem prévio aviso.
            <p>Tickect music Eventos Culturais Ltda - CNPJ 10.000.000/0001-00 Rua
            Fernão Dias , 130 - Cj 5 - CEP: 00110-030 - São Paulo - SP.</p>
          </p>
        </div>

        <div class="colum2">
          <h1>Redes Sociais</h1>

          <div class="row">
            <img src="../../backEnd/public/images/facebook.png" />
            <label>Nos Siga no Facebook</label>
          </div>
          <div class="row">
            <img src="../../backEnd/public/images/twitter.png" />
            <label>Nos Siga no Twitter</label>
          </div>
          <div class="row">
            <img src="../../backEnd/public/images/insta.png" />
            <label>Nos Siga no Instagram</label>
          </div>
        </div>

        <div class="colum3">
          <h1>Contatos</h1>
        </div>
      </div>
    </div>

    <div class="container-footer">
      <div class="footer">
        <div class="copyright">
          © 2021 Ticket Music - Todos os Direitos Reservados
        </div>

        <div class="information">
          <a href="">Informações Da Compania</a> |
          <a href="">Privacidades e Politicas</a> |
          <a href="">Termos e Condições</a>
        </div>
      </div>
    </div>
  </footer>
</div>  
</body>

</html>