<!-- PAGINA DE EVENTOS  / SHOWS -->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/login.css">
    <link rel="shortcut icon" href="/images/solFavicon.png" type="image/x-icon" />
    <title>Tickect Music - Login </title>
</head>

<body>

    <section class="sec">
        <!-- Cabeçalho -->
        <header>
            <a href="http://localhost:3000/Home/" class="logo"><img src="../public/images/logo.png"
                    alt='À esquerda há uma clave de Sol, que é um símbolo musical, e à direita dela está escrito "Ticket Music"'></a>
            <div class="toggleMenu" onclick="menuToggle();"></div>
            <ul class="navigation">
                <li><a href="http://localhost:3000/Home/">Home</a></li>
                <li><a href="http://localhost:3000/login/">Login</a></li>
                <li><a href="http://localhost:3000/carrinho/">Carrinho</a></li>
                <li><a href="http://localhost:3000/ajuda/">Ajuda</a></li>
            </ul>
        </header>

        <!--CABEÇALHO DA PAGINA-->


        <!--CORPO DA PAGINA-->
        <main>
            <!--BANNER SITE -->

            <section class=banner>


                <!--LOGIN-->
                <div class="campo">
                    <H1 class="texto"><strong> Conectar A Sua Conta </strong></H1>
                    <form>
                        <div class="formulario">
                            <label for="username" class="login">Digite seu e-mail</label>
                            <input type="email" id="username" name="username" required class="caixa">
                            <label for="pwd" class="login">Senha</label>
                            <input type="password" id="pwd" name="pwd" class="caixa">
                    </form>
                    <button type="button" class="botao">Entrar</button>
                </div>
                </div>

                <hr class="linha">

                <!--PAGINA FINAL DA PAGINA -->
                <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Veritatis facere amet quidem doloremque dignissimos natus libero numquam, aliquam, vitae commodi
                    maxime eos perferendis voluptas doloribus nulla accusantium unde?
                    Ducimus, fuga? Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
        </main>

    </section>

    <footer>

        <div class="container-footer-all">

            <div class="container-body">

                <div class="colum1">
                    <h1>Mais Informações</h1>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nihil adipisci accusamus voluptatum nobis aut laborum ut asperiores,
                        minus reiciendis dignissimos! Expedita optio assumenda animi id vero totam, quod rerum porro.
                    </p>

                </div>

                <div class="colum2">

                    <h1>Redes Sociais</h1>

                    <div class="row">
                        <img src="../public/images/facebook.png">
                        <label>Nos Siga no Facebook</label>
                    </div>
                    <div class="row">
                        <img src="../public/images/twitter.png">
                        <label>Nos Siga no Twitter</label>
                    </div>
                    <div class="row">
                        <img src="../public/images/insta.png">
                        <label>Nos Siga no Instagram</label>
                    </div>


                </div>

                <div class="colum3">

                    <h1>Contatos</h1>

                </div>

            </div>

        </div>

        <div class="container-footer">
            <div class="footer">
                <div class="copyright">
                    © 2021 Ticket Music - Todos os Direitos Reservados
                </div>

                <div class="information">
                    <a href="">Informações Da Compania</a> | <a href="">Privacidades e Politicas</a> | <a href="">Termos
                        e Condições</a>
                </div>
            </div>

        </div>

    </footer>
</body>

</html>