<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/perfil.css">
    <title>Ticket Music</title>
</head>
<body>
    <div class="conteiner">
        <h1>Marcela Bueno</h1>
        <ul>
            <li><a href="/views/ingressos.ejs">Ingressos comprados</a></li>
            <li><a href="">Comprovantes de compra</a></li>
            <li><a href="">Formas de pagamento</a></li>
            <li><a href="">Área VIP</a></li>
            <li><a href="/views/ajuda.ejs">Preciso de ajuda</a></li>
        </ul>
    </div>
    <script src="/javascript/perfil.js"></script>
</body>
</html>