@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}


/* Estilização do header */
* {
    font-family: 'Julius Sans One', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Container Principal*/
.sec {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#130A3D, #672550);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

header .logo {
    font-size: 2em;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
}

/*Sentido do cabeçalho*/
header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    color: #fff;
    margin-left: 40px;
    text-decoration: none;
    font-weight: bolder;
}

.content {
    position: relative;
    max-width: 600px;
    z-index: 1;
}

.content h2 {
    color: #fff;
    font-size: 3em;
    line-height: 1em;
}

.content h2 span {
    color: #fff;
    font-size: 0.7em;
}

.content p {
    color: #fff;
    margin: 10px 0 20px;
}

.content a {
    padding: 10px 30px;
    background: #fff;
    display: inline-block;
    text-decoration: none;
    color: #111;
    border-radius: 50px;
}

/*Ainda não definido*/
header .logo img {
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

nav {
    background-color: #BFBBBB;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    height: 80px;
    font-size: 50px;
}

/* Estilização do body */
.first-conteiner {
    display: block;
    background-color: #130A3D;
    font-style: regular;
    font-size: 20px;
    border-radius: 30px;
    width: 100%;
    height: auto;
}

.first-paragraph {
    background-color: #130A3D;
    color: #FFFFFF;
    position: absolute;
    left: 57%;
    top: 20%;
    font-weight: bolder;
    font-size: 20px;
    justify-content: center;
}

#first-div-image {
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: flex-end;
}

.second-conteiner {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 60%;
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 15px;
    border: solid 2px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.596);
    z-index: 1;

}

.second-conteiner .title1 {
    font-size: 18px;
    font-weight: bolder;
    position: absolute;
    top: 10%;
    color: #130A3D;
}

.first-title {
    color: #130A3D;
    font-size: 25px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

fieldset {
    border: none;
}

fieldset input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#name,
#email,
#password,
#confirm-password,
#cpf,
#date {
    color: black;
    border: none;
    outline: none;
}

.terms {
    color: #130A3D;
    display: inline-block;
    position: absolute;
    padding: 10px;
    top: 85%;
    font-size: 12px;
    text-align: center;
}


a {
    text-decoration: none;
    color: #130A3D;
}

a:hover {
    color: #9B5666;
    transition: 0.5s;
}

.second-title {
    color: #130A3D;
    font-weight: normal;
    font-size: 18px;
    padding-top: 30px;
    text-align: center;
    font-weight: bolder;
}

p {
    font-size: 10px;
}

/* Estilização do botão */

.button {
    margin-top: 14vh
}

button {
    color: #FFFFFF;
    background-color: #130A3D;
    border-radius: 30px;
    padding: 5px;
    position: absolute;
    top: 78%;
    cursor: pointer;
}

button:hover {
    color: #FFFFFF;
    background-color: #672550;
    transition-duration: 0.4s;
}

/*Configurações Footer Contatos*/

footer {
    width: 100%;
    background: #202020;
    color: white;

}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
}

.colum1 h1 {
    font-size: 22px;
}

.colum1 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2 {
    max-width: 400px;

}

.colum2 h1 {
    font-size: 22px;
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer {
    width: 100%;
    background: #101010;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #C7C7C7;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a {
    text-decoration: none;
    color: #C7C7C7;
    cursor: pointer;
}

input {
    width: 250px;

}

/*Footer*/

@media screen and (max-width: 1100px) {

    .container-body {
        flex-wrap: wrap;
    }

    .colum1 {
        max-width: 100%;
    }

    .colum2,
    .colum3 {
        margin-top: 40px;
    }


}