/* Fonte externa importada do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

p {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}


/*Container Principal*/
.sec {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#130A3D, #672550);
    /*Verificar qual cor vamos usar*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header .logo {
    font-size: 2em;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
}

/*Sentido do cabeçalho*/
header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    color: #fff;
    margin-left: 40px;
    text-decoration: none;
    font-weight: bolder;
}

.content {
    position: relative;
    max-width: 600px;
    z-index: 1;
}

.content h2 {
    color: #fff;
    font-size: 3em;
    line-height: 1em;
}

.content h2 span {
    color: #fff;
    font-size: 0.7em;
}

.content p {
    color: #fff;
    margin: 10px 0 20px;
}

.content a {
    padding: 10px 30px;
    background: #fff;
    display: inline-block;
    text-decoration: none;
    color: #111;
    border-radius: 50px;
}

/*Ainda nao Definido*/
header .logo img {
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

/*body e main */

main {
    display: flex;
}


.campo {
    font-size: 24px;
    text-align: center;
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #fff;
    border: 3px solid #ccc;
    box-shadow: #202020;
    border-radius: 5px;
    box-sizing: border-box;
}

.campo input {
    width: 240px;
}

.texto {
    margin-bottom: 55px;
    padding: 5px;
}

.campo .formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.login {
    margin-bottom: 15px;
}

.caixa {
    padding: 5px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.botao:hover {
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.botao {
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 5px;
    width: 10rem;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bolder;
}

.linha {
    margin-top: 30px;
}

/*Final do body*/

body h4 {
    margin-top: 15px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 13px;
    padding-top: 30px;
    align-items: center;
    text-align: center;
    color: white;
}

/*footer*/

/*Configurações Footer Contatos*/

footer {
    width: 100%;
    background: #202020;
    color: white;

}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
}

.colum1 h1 {
    font-size: 22px;
}

.colum1 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2 {
    max-width: 400px;

}

.colum2 h1 {
    font-size: 22px;
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer {
    width: 100%;
    background: #101010;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #C7C7C7;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a {
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px) {

    .container-body {
        flex-wrap: wrap;
    }

    .colum1 {
        max-width: 100%;
    }

    .colum2,
    .colum3 {
        margin-top: 40px;
    }
}