*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    height: 80px;
    background-color: rgb(196, 196, 196);
    font-size: 60px;
    text-align: center;
    padding: 20px;
}

.container{
    display: flex;
    justify-content:space-around;
    padding: 50px 25px;
    height: 500px;
}

.resumoDaCompra{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(241, 238, 238);
    margin-right: 25px;
    padding: 20px;
}

.formaDePagamento{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 238, 238);
    width: 50%;
    padding: 20px;
}
.howPay{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.dataPay{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color:rgb(192, 190, 190);
}

.formaDePagamento h4{
    text-align: center;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 250px;
    margin: auto;
    background-color: rgb(196, 196, 196);

}

form .infoCard{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 5px;
}

form .secureCode{
    width: 90px;
  }

form .cpfCard{
    width: 50%;;

}

form .inline{
    display: flex;
    align-self: center;
    width:100%;
    gap: 10px;
}

form .inline2{
    display: flex;
    align-self: center;
    width:90%;
    gap: 10px;
}

form input {
    width: 100%; 
    block-size: 30px;
    border-radius: 10px;
    outline: none;
    border: #ccc 1px solid;
    font-size: 15px;
    text-align: center;
    margin: 5px 0px;
}

form input:focus {
    background-color: #ccc;
    border-radius: 50px;
}

form label {
    font-size: 15px;
    font-weight: bold;
}

form #send {
    display: flex;
    flex-direction: row;
    justify-content: end;  
    align-items:flex-end;
    width: 50%;
}

form input[type=submit] {
    width: 70%;
    block-size: 40px;
    background-color: rgb(208, 40, 40);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

form select:hover {
    background-color: #ccc;
}

.resumoDaCompra .descricaoValor{
    display: flex;
    color: hotpink;
}

#resumo{
    width: 90%;
    margin: auto;
    
}
.totalLine{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.aceite {
    text-align: center;
}