/* Fonte externa importada do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

:root {
    --primary-text-color: #444444;
    --secondary-text-color: #EEEEEE;
    --primary-color: #0583F2;
    --secondary-color: #04D9D9;
    --tertiary-color: #1F00F5;
    --bg-gradient: linear-gradient(#01B8F5, #04BF9D);
}

a {
    text-decoration: none;
    color: var(--color-text);
    font-family: 'Roboto', 'Open Sans', sans-serif;
    align-items: center;
    cursor: pointer;
    transition: 1s;
}

.event-page {
    display: flex;
}

.banner-event {
    position: relative;
    height: 25%;
    left: 65vh;
}

.sec {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: var(--bg-gradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

header {
    position: fixed;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    width: 100%;
    padding: 3vh 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header .logo {
    font-size: 1em;
    color: var(--primary-text-color);
    text-decoration: none;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    color: var(--primary-text-color);
    margin-left: 7vh;
    text-decoration: none;
}

.content {
    position: relative;
    max-width: 600px;
    z-index: 1;
}

.content h2 {
    color: var(--secondary-text-color);
    font-size: 3em;
    line-height: 1em;
}

.content h2 span {
    color: var(--secondary-text-color);
    font-size: 0.7em;
}

.content p {
    color: var(--secondary-text-color);
    margin: 10px 0 20px;
}

.content a {
    padding: 10px 30px;
    background: var(--secondary-text-color);
    display: inline-block;
    text-decoration: none;
    color: var(--primary-text-color);
    border-radius: 50px;
}

header .logo img {
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

main {
    display: flex;
}

.start-help {
    /* align-items: center; */
    /* text-align: center; */
    text-align: start;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    margin-bottom: 5em;
}

.start-help h1 {
    font-size: 2em;
}

.start-help p {
    font-size: 0.9em;
    margin-top: 2em;
}

/* .start-help img {
    margin: 4em 1em;
} */

.form-body {
    width: 50%;
    margin-top: 4.3em;
    margin-left: 13em;
}

form {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
}

fieldset {
    display: flex;
    border: none;
    flex-direction: column;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
    text-align: center;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo input[type='tel'] {
    display: block;
    border-radius: 8px;
    padding: 0.5em;
    outline: none;
    border: none;
    height: 3em;
    width: 20em;
}

.campo textarea {
    display: block;
    border-radius: 8px;
    padding: 0.5em;
    outline: none;
    border: none;
    height: 7em;
    width: 20em;
}

.botao input {
    width: 10em;
    height: 3em;
    border-radius: 8px;
    cursor: pointer;
}

#end-page { 
    padding: 10px;
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

@media(max-width:800) {
    header{
        flex-direction: column;
        justify-content: center;
    }
}

footer {
    width: 100%;
    background: var(--primary-color);
    color: var(--secondary-text-color);   
    
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 75%;
}

.colum1 h1 {
    font-size: 1.8em;
}

.colum1 p {
    font-size: 0.89em;
    color: var(--secondary-text-color);
    margin-top: 1.5em;
}

.container-footer {
    width: 100%;  
    background: var(--primary-color);
}

.footer {
    max-width: 100%;
    margin: auto;
    display: flex; 
    padding: 1rem;
    justify-content: space-around;
}

.copyright {
    color: var(--secondary-text-color);
}

.politicy a {
    text-decoration: none;
    color: var(--secondary-text-color);
    transition: 1s;
}

.politicy a:hover {
    color: var(--tertiary-color);
}

@media screen and (max-width: 1100px) {
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
}