*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    align-self: center;
    color: #03989E;
    text-decoration: none;
    box-sizing: border-box;
}
/* Container pai  */
.main-container {
    background-color: #000000;
    padding: 0%;
    margin: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: static;
    z-index: 2;
}
.imgLogo {
    max-width:200px;
    max-height:200px;
    display: block;
    margin-left: 0%;
    margin-right: 60%;
    cursor: pointer;
}
.searchBox {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #383636;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}
.searchBtn {
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #76387A;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}
.searchText {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #03989E;
    font-size: 16px;
    transition: 0.4s;
    line-height: 0;
    width: 0px;
    text-align: center;
}
.searchBox:hover > .searchText {
    width: 240px;
    padding: 0 6px;
}
.searchBox:hover > .searchBtn {
   background: #FFFFFF;
}
.main-container {
    height: 240px;
    display: flex;
}
.main-container h1 {
    text-align: center;
    width: 70%;
    font-size: 50px;
    padding: 20px;
}
.main-container ul, li {
    display: flex;
    flex-direction: row;
    margin-bottom: 90px;
    list-style: none;
}
a {
    font-size: 14px;
    font-weight: bolder;
    color: #03989E;
    padding: 5px;
    display: flex;
    align-items: flex-start;
}
/* Caixa container pai */
.box {
    background-color:#76387A;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content:space-around;
    align-items: center;
    box-sizing: border-box;
}
.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15, .box16, .box17, .box18{
    background-color: #ffffffd7;
    width: 30%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 4px 4px #383636;
    margin-top: 10px auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.p {
    align-items: center;
}
.show {
    background-color: #383636;
    text-align: center;
    height: 60px;
    padding: 20px;
    font-weight: bold;
}
.evento {
    background-color: #383636;
    text-align: center;
    height: 60px;
    padding: 20px;
    font-weight: bold;
}
.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10, .img11, .img12, .img13, .img14, .img15, .img16, .img17, .img18 {
    position: absolute;
    max-width: 190px;
    max-height: 200px;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}
footer {
    background-color: #000000;
    text-align: center;
    border: solid 2px black;
    font-weight: bold;
}