/* Fonte externa importada do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Julius+Sans+One&display=swap');

* {
    font-family: 'Julius Sans One', sans-serif;
}

.conteiner {
    position: relative;
    display: flex;
    background: linear-gradient(#130A3D,#672550);
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    /* padding: 100px; */
    margin: 0;
}

h1 {
    color: #FFFFFF;
    position: absolute;
    top: 10%;
    justify-content: center;
}

ul {
    text-align: center;
  }

li {
    margin-top: 60px;
    list-style-type: none;
}

li:first-child {
    margin-top: 0;
}

a {
    background-color: #37346C;
    color: #CB9FA2;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    transition: 0.5s;
}

a:hover {
    background-color: #672550;
    border: 1px solid #CB9FA2;
}

/* button {
    background-color: #37346C;
    box-shadow: 0px 4px 4px #9B5666;
    border-radius: 30px;
    color: #CB9FA2;
    border: none;
    transition: 0.5s;
}

button:hover {
    background-color: #9B5666;
    box-shadow: 0px 4px 4px #CB9FA2;
} */