/* Todos os componentes */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

* input,select,textarea,button{
    border-radius: 8px;
    margin: 1px;
}

/* links */
a   {
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    align-items: center;
}

/* Imagens */
img {
    max-width: 100%;
}

.banner-event{
   
    width: 100%;
    object-fit: cover;

}

/* Cabeçalho */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: white;

}

header img{
    width: 250px;
}
/*Logotipo*/

.logo-space {
    width: 40%; 
    align-items: center;
    justify-content: space-around;
}

.logo-space img{
    width: 250px;
    cursor: pointer;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* BUSCA */

.search{
    width: 45%; 
    font-size: 25px;
}

/* Barra de Navegação */

.nav-space{
    width: 20%; 
    justify-content: space-around;
    
}

.nav-space a {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    color: white;
    justify-content: space-around;
    

}

/*body e main */

main{
    display: flex;
}

/* INFORMAÇÕES  */
.info-conteiner{
    padding: 15px;
}
.info-conteiner h1 {
    font-size: 20px;

}
.info-conteiner p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}


/*BANNER EVENTO */

.event-page.banner-container img {
    position:absolute;
    left: 0px;
    right: 0px;
    width: 100%;
}

/* DESCRIÇÕES */
.descricao-conteiner {
    padding: 15PX;
    margin-top: 5px;
    align-items: center;
}

.descricao-conteiner p {
    font-size: 13px;
    align-items: center;
    text-align: justify;
   
}

/*INGRESSO*/
.ingresso-conteiner {
    display: flex;
    flex-flow:row wrap;
    font-size: 15px;
    margin-bottom: 100px;
    font-family: sans-serif;
}

.ingresso-container img{
    height:100%;
    object-fit: cover; 
}

#esquerda {
    width: 50%;
}

#esquerda p{
    font-size: 13px;
    align-items: center;
    text-align: justify;
    padding: 10px;
}

#esquerda img{
    position:center;
    left: 0px;
    right: 0px;
    margin-left: 100px;
    width: 60%;
}

#direita {
    width: 50%;
}

#direita p{
    font-size: 13px;
    align-items: center;
    text-align: justify;
    padding: 10px;
}

/*Final do body*/

body h4 {
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    align-items: center;
    text-align: center;
}

/*footer*/

footer .social-media{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#end-page{ 
    padding: 10px;
    background-color: black;
    color:white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* responsive*/

@media(max-width:800){
    header{
        flex-direction: column;
        justify-content: center;
    }
}